<html>
    <body onload="initialize()" background="https://visualizingarchitecture.com/wp-content/uploads/2014/09/villa_Ortho_poster_300.jpg">
    <font color="#457721">
        <p> <h1> <center> List of my top 10 actors </center> </h1> </p>
    <font>
        <center> <button id="button1">Click here to know</button> </center>
    <p> </p>
    <div id="map-canvas" style="float:left; width: 720px; height: 480px;"> </div>
    <p>
    <div id="chart_div" bgcolor="#E6E6FA" style="float:right; height: 480px;"></div>
    <div id="chart1_div" bgcolor="#E6E6FA" style="float:left; height: 480px;"></div>
    </p>
    </body>
</html>